body {
    background-color: #24353f;
}

h1 {
    color: #17a2b8;
}

.form-control {

    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input::placeholder {
    color: rgb(182, 182, 182) !important;
}

input:focus {
    box-shadow: 0 0 0 0 transparent !important;
    background-color: transparent !important;
}

a {
    text-decoration: none;
    color: #fff;
}